<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to todo application.</title>

        <link rel="stylesheet" type="text/css" href="../../../../lib/bootstrap-3.3.4/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../../../../lib/bootstrap-3.3.4/css/bootstrap-theme.css" />
    </head>

    <body>
        <div data-sid="todo-app"> 
            <div data-comp-sid="btn-refresh" data-comp-type="button"></div>
        </div>

        <script type="text/javascript" src="../../../../lib/require-2.1.17.js"></script>
        <script type="text/javascript" src="../app.js"></script>
    </body>
</html>