<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to todo application.</title>

        <link rel="stylesheet" type="text/css" href="../../../../lib/bootstrap-3.3.4/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../../../../lib/bootstrap-3.3.4/css/bootstrap-theme.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div data-sid="todo-app"> 
            <div data-comp-sid="dd-task-types" data-comp-type="dropdown"></div>
            <div data-comp-sid="btn-refresh" data-comp-type="button"></div>

            <div data-comp-sid="grid-tasks" data-comp-type="datagrid"></div>
        </div>

        <script type="text/javascript" src="../../../../lib/require-2.1.17.js"></script>
        <script type="text/javascript" src="../app.js"></script>
    </body>
</html>