<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-sid="dropdown" data-toggle="dropdown" aria-expanded="true">
        {{model.title}}
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
        {{#each model.items}}
        <li role="presentation">
            <a role="menuitem" tabindex="-1" data-index="{{@index}}">
            {{getProperty this ../config.textName}}
            </a></li>
        {{/each}}
    </ul>
</div>