<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to textbox datagrid filtering.</title>

        <link rel="stylesheet" type="text/css" href="../../../../lib/bootstrap-3.3.4/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../../../../lib/bootstrap-3.3.4/css/bootstrap-theme.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div data-sid="quicksearch-app">
            <div data-comp-sid="tf-fulltextfilter" data-comp-type="textfield"></div>

            <div data-comp-sid="grid-customers" data-comp-type="datagrid"></div>
        </div>

        <script type="text/javascript" src="../../../lib/require-2.1.17.js"></script>
        <script type="text/javascript" src="../../../src/app_config.js"></script>        
        <script type="text/javascript" src="../app.js"></script>
    </body>
</html>